#result_pane {
    -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,0.5), black);
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}
#result_pane:hover{
    -fx-background-color: black;
    -fx-background-radius: 10;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.label {
    -fx-font-family: "Source Sans Pro";
    -fx-text-fill: white;
}

#beer_name {
    -fx-font-size: 40;
}

#property_label, #property_value {
    -fx-font-size: 20;
}

#property_value {
    -fx-text-fill: lightgray;
}

#beer_description {
    -fx-fill: lightgray;
    -fx-font: 20 "Source Sans Pro";
}

#back_button {
    -fx-image: url("img/back_arrow.png");
}

#username_label {
    -fx-font-size: 25;
}

