#login_background {
    -fx-background-image: url("../images/background_login.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center top;
    -fx-background-color: #0c0401;
}

#underscore {
    -fx-background-color: #948025;
}

#login_label {
    -fx-font-size: 20;
}
#login_label:hover {
    -fx-text-fill: lightgray;
}