.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

#search_field {
    -fx-pref-width: 570;
    -fx-text-fill: white;
    -fx-font-family: "Source Sans Pro";
    -fx-prompt-text-fill: lightgray;
    -fx-font-size: 18;
    -fx-border-color: lightgray;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
}

#region_grey {
    -fx-background-color: linear-gradient(to bottom, transparent, black);
    -fx-min-width: 200;
    -fx-min-height: 300;
}

#region_black {
    -fx-background-color: darkgrey;
    -fx-min-width: 200;
    -fx-min-height: 300;
}

/* The main scrollbar **track** CSS class  */
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 13 0 0;

}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}